<main>
    <div class="mx-auto w-50">
        <h1 class="display-1 text-center">Login</h1>
        <hr />
        <form class="form-group pt-3" action="/Users/Login" method="post">
            <label for="email">Email</label>
            <input class="form-control" type="email" id="email" name="email" placeholder="Email..." />
            <label class="mt-4" for="password">Password</label>
            <input class="form-control" type="password" id="password" name="password" placeholder="Password..." p />
            <div class="mx-auto w-50 mt-4 text-center">
                <input type="checkbox" id="reminder" name="reminder" value="RememberMe" />
                <label for="reminder">Remember me</label>
            </div>
            <div class="p-3">
                <input class="my-4 btn btn-outline-dark btn-lg btn-block" type="submit" value="Login" />
            </div>
        </form>
    </div>
</main>