<main>
    <div class="mx-auto w-50">
        <h1 class="display-1 text-center">Register</h1>
        <hr />
        <form class="form-group pt-3" action="/Users/Register" method="post">
            <label for="email">Email</label>
            <input class="form-control" type="email" id="email" name="email" placeholder="Email..." />
            <label class="mt-4" for="fullName">Full Name</label>
            <input class="form-control" type="text" id="fullName" name="fullName" placeholder="Full Name..." p />
            <label class="mt-4" for="password">Password</label>
            <input class="form-control" type="password" id="password" name="password" placeholder="Password..." p />
            <label class="mt-4" for="confirmPassword">Confirm Password</label>
            <input class="form-control" type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password..." p />
            <div class="mx-auto w-50 mt-4 text-center">
                <input type="checkbox" id="conditions" name="conditions" value="Conditions" />
                <label for="conditions">I Agree with the official Terms and Conditions</label>
            </div>
            <div class="p-3">
                <input class="my-4 btn btn-outline-dark btn-lg btn-block" type="submit" value="Login" />
            </div>
        </form>
    </div>
</main>