@if(User.Username == null)
{
<main>
    <div class="jumbotron m-4">
        <h1 class="display-1 text-center pt-4">Hello, guest!</h1>
        <p class="text-center lead">Please login in our system in order to use it.</p>
        <hr />
        <p class="text-center lead"><strong>If you don't have a registration yet, you can register <a href="/Users/Register">here</a></strong></p>
        <div class="text-center pb-4">
            <button class="btn btn-primary btn-lg" onclick="location.href='/Users/Login'">Login</button>
        </div>
    </div>
</main>
}
@else
{
<main>
    <div class="row justify-content-center">
        <div class="container text-center">
            <br />
            <div class="jumbotron">
                <h1 class="display-3">Hello, @User.Username!</h1>
                <p class="lead">You can view all contests or review your submissions.</p>
                <p>
                    <a class="btn btn-primary btn-lg" href="/Contests/All" role="button">Contests</a>
                    <a class="btn btn-primary btn-lg" href="submissions.html" role="button">Submissions</a>
                </p>
            </div>
        </div>
    </div>
</main>
}