<main>
    <div class="jumbotron m-4">
        <h1 class="display-1 text-center pt-4">Hello, guest!</h1>
        <p class="text-center lead">Please login in our system in order to use it.</p>
        <hr />
        <p class="text-center lead"><strong>If you don't have a registration yet, you can register <a href="/Users/Register">here</a></strong></p>
        <div class="text-center pb-4">
            <button class="btn btn-primary btn-lg" onclick="location.href='/Users/Login'">Login</button>
        </div>
    </div>
</main>