<main>
    <div id="index-container" class="container-fluid">
        <h1>Eventures - The best ticket service in the world.</h1>
        <hr class="index-hr" />
        <h2><a href="#">Login</a> to start "eventing".</h2>
        <h2><a href="#">Register</a> if you don't have an acoount.</h2>
    </div>
</main>