<main>
    <div class="mx-auto w-50 pt-3">
        <h1 class="display-1 text-center">Create Contest</h1>
        <hr />
        <form class="form-group py-3" action="/Contests/Create" method="post">
            <label for="name">Contest Name</label>
            <input class="form-control" type="text" id="name" name="name" />
            <div class="p-3">
                <input class="btn btn-outline-success btn-lg btn-block" type="submit" value="Create" />
            </div>
        </form>
    </div>
</main>