<div class="container" style="margin-top:5%">
    <center>
        <h1>Register</h1>
        <form class="form-group" action="/Users/PostRegister" method="post">
            <label>Username</label>
            <input class="form-control" type="text" name="username" placeholder="Enter username" /><br />
            <label>Password</label>
            <input class="form-control" type="password" name="password" placeholder="Enter password" /><br />
            <label>Confirm Password</label>
            <input class="form-control" type="password" name="confirm-password" placeholder="Confirm password" /><br />
            <button class="btn btn-primary" type="submit">Register</button>
        </form>
    </center>
</div>
@Error