<div class="container w-50" style="padding:5%">
    <form class="form-group" action="/Products/AddProduct" method="post">
        <center>
            <h1>Add Product</h1>
            <div>
                <label>Name</label>
                <input class="form-control" type="text" name="name" placeholder="Enter product name here..." />
            </div>
            <div>
                <label>Price</label>
                <input class="form-control" type="number" step="0.01" name="price" placeholder="Enter product price here..." />
            </div>
            <div>
                <label>Image URL</label>
                <input class="form-control" type="url" name="url" placeholder="Enter image url here..." />
            </div>
            <div style="padding:5%">
                <button class="btn btn-primary" type="submit">Add Product</button>
            </div>
        </center>
    </form>
</div>