<div class="container w-50" style="margin-top: 5%">
    <center>
        <h1>Login</h1>
        <form class="form-group" action="/Users/Login" method="post">
            <div>
                <label>Usename</label>
                <input class="form-control" type="text" name="username" placeholder="Enter Username" /><br />
            </div>
            <div>
                <label>Password</label>
                <input class="form-control" type="password" name="password" placeholder="Enter password" /><br />
            </div>
            <div>
                <button class="btn btn-primary" type="submit">Login</button>
            </div>
        </form>
        Don't have an account?
        <button class="btn btn-primary" onclick="window.location = '/Users/Register'">Register</button>
    </center>
</div>
@Error